:root {
    --header-color: black;
}

body { /* Create Dot background, from https://codepen.io/edmundojr/pen/xOYJGw */
    --dot-bg: white;
    --dot-color: gray;
    --dot-size: 1px;
    --dot-space: 3px;

    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

    font-family: sans-serif;

    /* Reset some of the browser settings */
    margin: 0;
    padding: 0;
}

header {
    background-color: lightcoral;
    text-align: center;
    padding: 1rem;
}

/* flex box to have content flow */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex: 1 0 auto;
    margin: 1rem;
}

aside {
    flex: 0 0 200px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

h1,h2,h3,h4,h5,h6 { /* Reset margin/padding on all H elements */
    margin: 0;
    padding: 0;
    color: var(--header-color);
}

input[type="text"] { /* Reset padding handling for input type of text */
    box-sizing: border-box;
}

/* Resizing of form elements */
.full {
    width: 100%;
}

/* styling buttons */
button {
    margin-top: .5rem;
    padding: .3rem;
}

/* specific to search */
button[data-type='search'] {
    background-color: lightcoral;
}

/* specific to history */
button[data-type='past-search'] {
    background-color: lightslategray;
}

/* weather forcast styling */
#weather-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#weather-forecast div {
    background-color: lightcyan;
    padding: .2rem .6rem;
    margin: 1rem .25rem;
    border: 1px gray solid;
    border-radius: .5rem .5rem;
    box-shadow: .15rem .15rem .3rem black;
    text-align: center;
    flex: 1 0 auto;
}

/* Default p tag information for forecast and current areas */
#weather-forecast p, #weather-current p {
    padding: 0;
    margin: 0;
    line-height: 1.25rem;
    font-size: .8rem;
    text-align: left;
}

/* Sets the first p to have special properties like a header */
#weather-forecast p:first-child {
    font-weight: bold;
    text-align: center;
    padding: .5rem 0;
    font-size: 1rem;
}

/* Resize weather icons provided from OpenWeather to fit site layout */
#weather-forecast img, #weather-current img {
    width: 50px;
    height: 50px;
}

/* weather current styling */
#weather-current p:first-child {
    font-weight: bold;
    padding: .5rem 0;
    font-size: 1rem;
}


.current { /* Class gets applied via js to prevent element from showing before data loaded */
    background-color: lightskyblue;
    box-shadow: .15rem .15rem .3rem black;
    border: 1px gray solid;
    border-radius: .5rem .5rem;
    padding: .5rem;
}

@media screen and (max-width: 899px) {
    /* sets to column reverse to show search first when screen smaller than 925px wide */
    main {
        flex-direction: column-reverse;
    }

}