:root {
    --header-color: black;
}

body { /* Create Dot background, from https://codepen.io/edmundojr/pen/xOYJGw */
    --dot-bg: white;
    --dot-color: gray;
    --dot-size: 1px;
    --dot-space: 3px;

    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

    /* Reset some of the browser settings */
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 { /* Reset margin/padding on all H elements */
    margin: 0;
    padding: 0;
    color: var(--header-color);
}

ul {
    width: fit-content;
    list-style-type: none;
}

li {
    background-color: white;
    padding: .2rem;
    margin: .2rem;
    border: 1px black solid;
    border-radius: .5rem .5rem;
}